@font-face {
  font-family: 'st';
  src:  url('fonts/st.eot?v948ld');
  src:  url('fonts/st.eot?v948ld#iefix') format('embedded-opentype'),
    url('fonts/st.ttf?v948ld') format('truetype'),
    url('fonts/st.woff?v948ld') format('woff'),
    url('fonts/st.svg?v948ld#st') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="st-"], [class*=" st-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'st' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-add_circle:before {
  content: "\e900";
}
.st-arrow_lift:before {
  content: "\e901";
}
.st-check_circle:before {
  content: "\e902";
}
.st-close:before {
  content: "\e903";
}
.st-favorite:before {
  content: "\e904";
}
.st-keyboard_arrow_right:before {
  content: "\e905";
}
.st-remove_circle_outline:before {
  content: "\e906";
}
.st-shopping_cart:before {
  content: "\e907";
}
.st-thumb_down:before {
  content: "\e908";
}
.st-thumb_up:before {
  content: "\e909";
}
